<h2>
  <% if user_signed_in? %>
    <%= link_to 'Write' , new_contribution_path , class: 'header_menu' %>
  <% end %>
    小説一覧</h2>
<ul>
    <% @contributions.each do |contribution| %>
    <li>
        <%= link_to contribution.title , contribution_path(contribution) %>
    </li>
    <% end %>
</ul>
