@import "bootstrap-sprockets";
@import "bootstrap";

@mixin button_sizing  {
  display: inline-block;
    padding: 1em 1em;
    text-decoration: none;
    background: #333333;/*ボタン色*/
    color: #333333;/*ボタン色に同じ*/
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #000000;
    border-radius: 5px;/*角の丸み*/
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 2px 2px rgba(0, 0, 0, 0.38);
 }

@media screen and (min-width:1440px) {
  #header {
    width: 100%;
  }
  #headerlink {
   float: right;
   margin: 20px 100px 0 0;
  }
  #mainArea {
    margin-top: 10px;
    float: right;
    width: 86%;
  }
  h1 {
    font-size: 25px;
    margin-left: 50px;
  }
  #button {
  @include button_sizing;
  }
  .book {
      width: 375px;
      height: 123px;
  }
  .container {
      width: auto;
      margin-right: 100px;
  }
}

@media screen and (min-width:1024px) and (max-width:1439px) {
  #header {
    width: 100%;
  }
  #headerlink {
   float: right;
   margin: 15px 15px 0 0;
  }
  #mainArea {
    margin-top: 10px;
    float: right;
    width: 81%;
  }
  h1 {
    font-size: 25px;
    margin-left: 50px;
  }
  #button {
  @include button_sizing;
  }
  .book {
      width: 375px;
      height: 123px;
  }
  .container {
      width: auto;
      margin-right: 100px;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  #header {
    width: 100%;
  }
  #headerlink {
    margin-bottom: 10px;
  }
  #mainArea {
    margin-top: 10px;
    float: right;
    width: 74%;
  }
  h1 {
    font-size: 25px;
    margin-left: 50px;
  }
  #button {
  @include button_sizing;
  }
  .book {
      width: 375px;
      height: 123px;
  }
  .container {
      width: auto;
      margin-right: 100px;
  }
}

@media screen and (min-width:375px) and (max-width:767px) {
  #header {
    position:relative;
    width: 100%;
  }
  #headerlink {
    width: 320px;
    margin: 0 0 10px 10px;
  }
  #mainArea {
    margin-top: 200px;
  }
  h1 {
    font-size: 20px;
    margin-left: 15px;
  }
  #menuBar  {
    position: absolute;
     top: 66px;
  }
  #menuBar ul {
    padding-left: 20px;
  }
  .container {
    margin-right: 15px;
  }
  .book {
      width: 300px;
      height: 123px;
  }
  #button li {
    display: inline-block;
  }
  p2 {
    margin-right: 60%;
  }
  #button {
  @include button_sizing;
  padding: 10px 10px 0;
  margin-right: 30px;
  }
}

@media screen and (min-width:320px) and (max-width:374px) {
  #header {
    position:relative;
    width: 100%;
  }
  #headerlink {
    width: 320px;
    margin: 0 0 10px 10px;
  }
  #mainArea {
    margin-top: 200px;
  }
  h1 {
    font-size: 20px;
    margin-left: 15px;
  }
  #menuBar  {
    position: absolute;
     top: 66px;
  }
  .container {
    margin-right: 15px;
  }
  .book {
      width: 300px;
      height: 123px;
  }
  #button li {
    display: inline-block;
  }
  p2 {
    margin-right: 60%;
  }
  #button {
  @include button_sizing;
  padding: 10px 10px 0;
  margin-right: 55px;
  }
}





.top {
  height: 50px;
  width: 50px;
}

#header {
 background: #333333;
 color: #DDDDDD;
 padding-top: 1px;
 height: 65px;
}


h2 {
     position:top;
     font-size: 20px;
     padding-bottom: 10px;
     margin-bottom: 20px;
     border-bottom: 1px solid #ddd;
 }

p1 {
 float: right;
 line-height: 65px;
 margin-right: 500px;
}

p2 {
 color: #DDDDDD;
 margin-left: 20px;
}

#link {
 margin-right: 20px;
}

strong {
  padding-right: 80px;
  font-size: 20px;
}


#menuBar {
 float: left;
}

 #button:active{/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

 body {
     margin: 0;
     padding: 0;
     font-family: 'Book Antiqua';
     font-size: 14px;
 }


 .header_menu {
     font-size: 18px;
     font-weight: normal;
     float: right;
 }

 @mixin contribution_sizing {
  box-sizing: border-box;
  width: 1000px;
  padding: 5px;
 }

 #contribution_title {
  @include contribution_sizing;
 }

 #contribution_body {
  @include contribution_sizing;
 }

 textarea {
  font-family: 'Century Gothic';
  height: 380px;
 }

 .error {
  font-size: 15px;
  font-weight: bold;
  color: red;
  font-family: 'arial black';
 }

 .command {
  font-size: 12px;
  padding-left: 10px;
 }

 @mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

<<<<<<< HEAD
.categry {
=======
.categry{
>>>>>>> develop
  background: #CCFFFF;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
  margin-bottom: 0;
}
