@media screen and (min-width:1921px) {
  html {
    width: 1291px;
  }
}

@media screen and (min-width:1366px) and ( max-width:1920px) {
  html {
    width: 1366px;
  }
}

@media screen and (min-width:768px) and ( max-width:1366px) {
  html {
    width: 768px;
  }
}

@media screen and (min-width:360px) and ( max-width:768px) {
  html {
    width: 360px;
  }
}

@media screen and (max-width:360px) {
  html {
    width: 359px;
  }
}
